URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.font:     xft:bitstream vera sans mono:size=14:antialias=true,xft:Inconsolata\ for\ Powerline:size=14, xft:xos4 
Terminus:pixelsize=14, xft:xos4 Terminess Powerline:pixelsize=14
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=14:antialias=true, xtf:xos4 Terminus:pixelsize=14:weight=bold, xft:xos4 Terminess Powerline:pixelsize=14
URxvt.perl-ext-common:	default,matcher,resize-font,clipboard,keyboard-select
! keyboard-select
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search
! clipboard
! update clipboard whenever primary gets updated
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.reset: C-Left
URxvt.resize-font.show: C-Right

! special
*.foreground:   #f5f5f5
*.background:   [85]#101010
*.cursorColor:  #66ff66

! black
*.color0:       #1c1c1c
*.color8:       #4d4d4d

! red
*.color1:       #d81860
*.color9:       #f00060

! green
*.color2:       #60ff60
*.color10:      #70ff70

! yellow
*.color3:       #f9fd75
*.color11:      #f9fd80

! blue
*.color4:       #4695c8
*.color12:      #5a9dc8

! magenta
*.color5:       #a78edb
*.color13:      #b29fdb

! cyan
*.color6:       #43afce
*.color14:      #69b8ce

! white
*.color7:       #f3ebe2
*.color15:      #eeeeee

